@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-purple: #7000ff;
  --primary-color-blue: #0469ff;
}

* {
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

#layout {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

/* 
  Border Gradient
*/

[data-theme="dark"] .border-gradient {
  border: 1px solid;
  border-image: linear-gradient(
      45deg,
      var(--primary-color-blue),
      var(--primary-color-purple)
    )
    1;
}

[data-theme="light"] .border-gradient {
  @apply border-[1px] border-neutral-100;
}

/* 
  Swith Theme
*/

.switch-theme-mobile::before {
  @apply bg-neutral-100/50;
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3rem;
  transform: translateX(-50%);
  width: 2px;
  height: 3rem;
}
