@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", sans-serif;
}

/* 
  Border Gradient
*/

.border-gradient {
  @apply dark:bg-neutral-500 relative p-7 box-border bg-clip-padding border-2 border-transparent;
}

.border-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;
  margin: 2px;
  background-color: aqua;
}

/* 
  Swith Theme
*/

.switch-theme-mobile::before {
  @apply bg-neutral-100/50;
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3rem;
  transform: translateX(-50%);
  width: 1px;
  height: 3rem;
}
