@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-purple: #7000ff;
  --primary-color-blue: #0469ff;
}

* {
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

#layout {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

#layout .snap-scroll {
  scroll-snap-align: start;
}

/* 
  Border Gradient
*/

[data-theme="dark"] .border-gradient {
  position: relative;
}

[data-theme="dark"] .border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 2px;
  background: linear-gradient(
    45deg,
    var(--primary-color-blue),
    var(--primary-color-purple)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

[data-theme="light"] .border-gradient {
  @apply border-[2px]  border-blue-500;
}

/* 
  Swith Theme
*/

.switch-theme-mobile::before {
  @apply bg-neutral-100/50 absolute left-[50%] -bottom-[10rem] md:bottom-[2.5rem] translate-x-[-50%] w-[2px] h-[10rem];
  content: "";
  /* position: absolute;
  left: 50%;
  bottom: -3rem;
  transform: translateX(-50%);
  width: 2px;
  height: 3rem; */
}
